<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
<script src="../../static/index.js"></script>
<nav class="navbar">
    <div class="navbar-container">
        <input type="checkbox" name="" id="checkbox">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><a href="/">Home</a></li>
            <li><a href="#movies">Shop</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="#login">Login</a></li>
            <li><button id="signinbutton"><a id="signin" href="#signin">Sign Up</a></button></li>
        </ul>
        <div class="logo">
            <a href="/"><img id="logoImage" src="../../static/logo.png" alt="logo"></a>
        </div>
    </div>
</nav>

</body>
</html>
