<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deadpool & Wolverine</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
<script src="../../static/index.js"></script>
<nav class="navbar">
    <div class="navbar-container">
        <input type="checkbox" name="" id="checkbox">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><a href="/">Home</a></li>
            <li><a href="#movies">Shop</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="#login">Login</a></li>
            <li><button id="signinbutton"><a id="signin" href="#signin">Sign Up</a></button></li>
        </ul>
        <div class="logo">
            <a href="/"><img id="logoImage" src="../../static/logo.png" alt="logo"></a>
        </div>
    </div>
</nav>
<div class="mainContent">
    <img id="contentImage"
         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDVOkJ6LOCCaiCIkEnRB0W2Gii-SHCT8j_Zg&s" alt="img">
    <div class="contentDetails">
        <h1>Details</h1>
        <ul>
            <li><b>Title :</b> Deadpool & Wolverine</li>
            <li><b>Genre :</b> Action / Comedy</li>
            <li><b>Description :</b> Deadpool's peaceful existence comes crashing down when the Time Variance Authority recruits him to help safeguard the multiverse.
            </li>
                        <li><b>Release Year :</b>: 2024</li>

            <li><b>Runtime :</b> 2h 7m</li>
            <li><b>Rating: </b> 8.0 / 10.0 (IMDb)</li>
            <li><b>Showtimes: </b><ul id="subList"><li>10:00</li><li>15:00</li><li>22:00</li></ul></li>
        </ul>
    </div>
</div>
</body>
</html>
