<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission: Impossible Dead Reckoning Part One</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
<script src="../../static/index.js"></script>
<nav class="navbar">
    <div class="navbar-container">
        <input type="checkbox" name="" id="checkbox">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><a href="/">Home</a></li>
            <li><a href="/#movies">Shop</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="#login">Login</a></li>
            <li><button id="signinbutton"><a id="signin" href="#signin">Sign Up</a></button></li>
        </ul>
        <div class="logo">
            <a href="/"><img id="logoImage" src="../../static/logo.png" alt="logo"></a>
        </div>
    </div>
</nav>
<div class="mainContent">
    <img id="contentImage"
         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh3fa15YNjFv2hHCfVbqg43uHU3Rz7q8F-bg&s" alt="img">
    <div class="contentDetails">
        <h1>Details</h1>
        <ul>
            <li><b>Title :</b> Mission: Impossible Dead Reckoning Part One</li>
            <li><b>Genre :</b> Action / Thriller</li>
            <li><b>Description :</b> Ethan Hunt and the IMF team must track down a terrifying new weapon that threatens
                all of humanity if it falls into the wrong hands.
            </li>
            <li><b>Release Year :</b>: 2023</li>
            <li><b>Runtime :</b> 2h 43m</li>
            <li><b>Rating: </b> 7.7 / 10.0 (IMDb)</li>
            <li><b>Showtimes: </b>
                <ul id="subList">
                    <li>9:00</li>
                    <li>14:00</li>
                    <li>21:00</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
